.vscode/**
.vscode-test/**
out/test/**
out/__mocks__/**
src/**
.git*
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/jest.config.js
**/.eslintrc.json
**/*.map
**/*.ts
**/.vsix
**/NOTES
.arc*
.pinterest-linters/
TODO
**/*.sh
