.vscode/**
.vscode-test/**
.vs*
out/test/**
out/__mocks__/**
src/**
.git*
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/jest.config.js
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.vsix
**/NOTES
.arc*
.pinterest-linters/
TODO
**/*.sh
